<div class="container-fluid">
  <!--<p>{{userListModifier()}}</p>-->
  <div class="row">
    <div class="col-10 offset-1">
      <h1>{{ title }}</h1>
    </div>
    <div class="col-5 input-group offset-1 p-4">
      <label for="search">Search</label>
      <input class="form-control" type="text" id="search"
        [(ngModel)]="filterPhrase">
    </div>
    <div class="col-4 text-right"><button class="btn btn-primary"
        routerLink="/newuser">Add new user</button></div>
  </div>
  <div class="row">
    <div class="col-10 offset-1">
      <table class="table">
        <thead>
          <tr>
            <th class="thtags" (click)="sorterFunc('id')">#</th>
            <th class="thtags" (click)="sorterFunc('name')">Name</th>
            <th class="thtags" (click)="sorterFunc('isActive')">Active</th>
            <th class="thtags" (click)="sorterFunc('age')">Age</th>
            <th class="thtags" (click)="sorterFunc('email')">Email</th>
            <th class="thtags" (click)="sorterFunc('phone')">Phone</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let user of userList|searchPipe:filterPhrase|order:sorterKey">
            <td>{{ user.id }}</td>
            <td>{{ user.name.first }} {{ user.name.last }}</td>
            <td>{{ user.isActive }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td class="btn-group"><button class="btn btn-outline-primary"
                routerLink="/edituser/{{user.id}}">Edit</button><button
                (click)="openFormModal(user)"
                class="btn btn-outline-secondary">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
