<div class="container-fluid">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card text-center">
        <div class="card-header">
          <h5 class="card-title">User Statistics</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Number of users: {{countUser()}}</p>
          <span class="card-text p-3 col-6">Active users:
            {{countActiveUser()}}</span>
          <span class="card-text p-3 col-6">Not active users:
            {{countNotActiveUser()}}</span>
          <p class="card-text">Sum of user's balance: {{sumBalance()}} $</p>
          <p class="card-text">Favorite fruits: {{countAppleLover()}}
          </p>
          <p class="card-text"><img
              src="https://img.icons8.com/officexs/35/000000/apple.png">
            {{Fruits[0]}}: {{FruitArray[0]}}
          </p>
          <p class="card-text"><img
              src="https://img.icons8.com/officexs/30/000000/strawberry.png">
            {{Fruits[1]}}: {{FruitArray[1]}}
          </p>
          <p class="card-text"><img
              src="https://img.icons8.com/officexs/35/000000/banana.png">
            {{Fruits[2]}}: {{FruitArray[2]}}
          </p>
        </div>
        <div class="card-footer text-muted">
          <p><a routerLink="/users" class="btn btn-primary">Users</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
